---
layout: layouts/home.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Paavan’s Blog</h1>

<p class="lead">Hey! Welcome to my blog.</p>

<p>I write on a variety of topics including design, startups, philosophy, UX, magic and gardening.</p>
<p>Here are the most recent posts:</p>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p><em><a href="{{ '/posts/' | url }}">See all posts</a>.</em></p>