---
layout: layouts/home.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
darkmodecaption: True
---

<h1>Paavan’s Blog</h1>

<p class="lead">Hey! Welcome to my blog.</p>

<p>Here you’ll find a variety of my writing on topics including design, ux, philosophy, startups, magic and gardening.</p>
<Hr />
<p>Most recent posts:</p>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p><em><a href="{{ '/posts/' | url }}">See all posts</a>.</em></p>