---
permalink: /tags/
layout: layouts/home.njk
---
<h1>All Tags</h1>
<p class="lead">Here are all the topics I've written about:
<br />
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}
</p>