<footer>
    <h3>Read more...</h3>
    <p>If you liked this, check out some of the most popular posts.</p>
    <ul>
       <li><a href="/posts/the-loss-of-certainty/">The loss of certainty</a> <time class="postlist-date" datetime="2020-05-28">28 May 2020</time></li>
       <li><a href="/posts/these-are-my-favourite-personal-websites/">These are my favourite personal websites</a> <time class="postlist-date" datetime="2020-05-14">14 May 2020</time></li>
       <li><a href="/posts/hills-the-best-framework-for-determining-where-to-go/">Hills: the best framework for determining where to go</a> <time class="postlist-date" datetime="2019-11-25">25 Nov 2019</time></li>
   </ul>
   <p><a href="{{ '/' | url }}">← Home</a></p>
</footer>
